.app-logo{
    width: 220px !important;
    max-height: 50px !important;
}
#page-login .container {
    margin-top: 0 !important;
}

.navbar {
    display: none;
}

.web-footer {
    background-color: transparent !important;
    border-top: none !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 !important;
    min-height: 0 !important;
}

.web-footer .footer-info .footer-col-left {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.25em;
}

.web-footer .footer-info .footer-col-right {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.25em;
}

.login-content {
    box-shadow: 0 0 9px 11px #dbd6d6 !important;
    border-radius: 20px !important;
    background-color: white !important;
}

.for-login .page-card, .for-forgot .page-card {
    padding: 0 !important;
    max-width: 350px;
}

.page-card .page-card-footer .page-card-head {
    margin-top: 40px;
    margin-bottom: 0;
}

.for-login .page-card form, .for-forgot .page-card form {
    max-width: none;
}

.page-card .page-card-custom-logo {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-card .page-card-custom-logo img {
    max-width: 100%;
    max-height: 43px;
}

.page-card .page-card-body {
    height: 150px;
}

.page-card .page-card-body hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

.page-card .page-card-body input {
    background-color: white;
    width: 85% !important;
    background-color: var(--bg-light-gray);
    margin: 0 auto;
    margin-bottom: 0 !important;
}

.for-login .page-card .page-card-body .field-icon, .for-forgot .page-card .page-card-body .field-icon {
    left: 36px;
}

.for-login .page-card .page-card-body .password-field .toggle-password {
    right: 40px;
}

.for-login .page-card .page-card-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.for-login .page-card .page-card-actions button {
    position: absolute;
    padding: 6px 42px !important;
    border: 1px solid #f9B101 !important;
    outline: 1px solid white !important;
    color: black !important;
    font-size: 12px !important;
    border-radius: 9px !important;
}

.for-login .page-card .page-card-footer {
    height: 170px;
    border-radius: 0 0 20px 20px;
    background-color: #f9B101;
}

.for-login .page-card p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.for-login .page-card p a {
    color: black !important;
    font-size: 12px !important;
}

.for-forgot .page-card .page-card-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 170px;
    border-radius: 0 0 20px 20px;
    background-color: #f9B101;
}

.for-forgot .page-card .page-card-actions button {
    position: absolute;
    padding: 6px 42px !important;
    border: 1px solid #f9B101 !important;
    outline: 1px solid white !important;
    color: black !important;
    font-size: 12px !important;
    border-radius: 9px !important;
    top: -16px;
}

.for-forgot .page-card .page-card-actions .sign-up-message {
    margin-top: 0 !important;
}

.for-forgot .page-card .page-card-actions .sign-up-message a {
    color: black !important;
}

.for-forgot .page-card .page-card-body {
    height: 158px;
    padding-top: 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .page-card {
        margin-left: auto !important;
    }

    body {
        background-color: white !important;
        background-image: url('/assets/gaxiswrapper/images/branding/abs-logo.png'), url('/assets/gaxiswrapper/images/branding/login-screen-mobile-background.png') !important;
        background-repeat: no-repeat;
        background-size: 135px, cover;
        background-position: 50% 5vh, center;
    }

    .web-footer .footer-info .footer-col-right {
        display: none !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .page-card {
        margin-right: auto !important;
        margin-left: 0 !important;
        margin-bottom: 0 !important;
    }

    body {
        background-color: white !important;
        background-image: url('/assets/gaxiswrapper/images/branding/abs-logo.png'), url('/assets/gaxiswrapper/images/branding/login-screen-background.png') !important;
        background-repeat: no-repeat;
        background-size: 135px, cover;
        background-position: 98% 20px, center;
    }
}